.subpage {
	width: 100%;
}

.subpage > div > .best {
  width: 100%;
	height: 400px;
	margin-top: 13px;
	border-bottom: 1px solid #D5D5D5;
}

.subpage > div > .best > .bestmenu {
  width: 100%;
  height: 30px;
	border-bottom: 1px solid #D5D5D5;
}

.subpage > div > .best > .bestmenu > p {
	text-align: center;
	margin-top: 10px;
}

.subpage > div > .best > article {
  float: left;
  width: 18%;
  height: 330px;
	margin-left: 18px;
	margin-top: 20px;
}

.subpage > div > .best > article > .thumb {
	margin-top: 18px;
	margin-bottom: 30px;
	margin-left: 16px;
}

.subpage > div > .best > article > h3 {
	text-align: center;
}

.subpage > div > .best > article > h3:hover {
	text-align: center;
	text-decoration: underline;
}

.subpage > div > .best > article > .price {
	text-align: center;
	margin-top: 15px;
}

.subpage > div > .list {
	width: 100%;
	height: 1450px;
}

.subpage > div > .list > .sort {
	margin:  20px 0 0 465px;
	overflow: hidden;
}

.subpage > div  > .list >  .sort > li {
	float: left;
	position: relative;
	padding: 2px 0;
  line-height: 15px;
}

.subpage > div > .list > .sort > li > a {
	display: block;
	padding: 0 2px;
}

.subpage > div > .list > section {
	width: 100%;
	box-sizing: border-box;
}

.subpage > div > .list > section > article {
	float: left;
	width: 23%;
	height: 330px;
	margin-left: 18px;
	margin-top: 20px;
	border-bottom: 1px solid #D5D5D5;
}

.subpage > div > .list > section > article > .thumb {
	margin-top: 18px;
	margin-bottom: 30px;
	margin-left: 46px;
}

.subpage > div > .list > section > article > h3 {
	text-align: center;
}

.subpage > div > .list > section > article > h3:hover {
	text-align: center;
	text-decoration: underline;
}

.subpage > div > .list > section > article > .price {
	text-align: center;
	margin-top: 15px;
}


.subpage > div > .list > .sort > li:nth-child(1) > a:hover {
  text-decoration: underline;
}

.subpage > div > .list > .sort > li:nth-child(3) > a:hover {
  text-decoration: underline;
}

.subpage > div > .list > .sort > li:nth-child(5) > a:hover {
  text-decoration: underline;
}

.subpage > div > .list > .sort > li:nth-child(7) > a:hover {
  text-decoration: underline;
}

.subpage > div > .paging {
	width: 100%;
	padding: 30px 0;
	text-align: center;
}

.subpage > div > .paging > span > a {
	color: #5D5D5D;
	font: normal 12px 'monospace';
	font-size: 12px;
	letter-spacing: -1px;
}

.subpage > div > .paging > span > a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.subpage > div > .paging > .num > a {
	display: inline-block;
	min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  background: url() 0 0 repeat-x;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.subpage > div > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}

/* view.html */

.subpage > div > .view > section {
	width: 100%;
}

.subpage > div > .view > section > .info {
	width: 100%;
	height: auto;
}

.subpage > div > .view > section > .info > div {
	float: left;
	box-sizing: border-box;
}

.subpage > div > .view > section > .info > .image {
	width: 45%;
	height: 500px;
	margin-top: 54px;
}

.subpage > div > .view > section > .info > .image > img {
	margin-left: 95px;
	margin-top: 25px;
	width: 350px;
	height: 450px;
}

.subpage > div > .view > section > .info > .summary {
	width: 55%;
	height: auto;
	border-left: solid 1px  #c4c4c4;
	margin-top: 50px;
}

.subpage > div > .view > section > .info > .summary * {
	font: 'monospace';
	font-size: 15px;
	font-weight: lighter;
	margin-bottom: 50px;
	text-align: center;
}

.subpage > div > .view > section > .info > .summary > h2 {
	font-size: 16px;
	margin-top: 30px;
}

.subpage > div > .view > section > .desc {
	width: 100%;
}

.subpage > div > .view > section > .desc >img {
	margin-left: 20%;
}

/* option */
.subpage > div > .view .info > .summary .option {
  position: relative;
  width: 70%;
	margin-left: 100px;
  height: auto;
}

.subpage > div > .view .info > .summary .option > .opt_size > button {
  display: block;
  width: 100%;
	height: 50px;
  text-align: left;
  padding: 12px 15px 12px 15px;
  background: #fff;
  color: #233549;
  border: 1px solid #d6d7d8;
  cursor: pointer;
	text-align: center;
}

.subpage > div > .view .info > .summary .option button > .txt {
  font-size: 16px;
}

.subpage > div > .view .info > .summary .option button > .ico {
  float: right;
  display: block;
  width: 16px;
  height: 9px;
  margin-top: 10px;
  font-size: 0;
}

.subpage > div > .view .info > .summary .option > div {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.subpage > div > .view .info > .summary .option > div.disable {
  display: none;
}
.subpage > div > .view .info > .summary .option > div.on {
  border: 1px solid #2e8de5;
  z-index: 100;
}

.subpage > div > .view .info > .summary .option > div.on > button {
  border: none;
  background: #f8f9fa;
	margin-bottom: 1px;
}
.subpage > div > .view .info > .summary .option > div.on > button > .ico {
  background-position: -232px 0;
}
.subpage > div > .view .info > .summary .option > div.on > ul {
  position: absolute;
  display: block;
  z-index: 100;
}

.subpage > div > .view .info > .summary .option ul {
  display: none;
  width: 100%;
  max-height: 200px;
  background: #fff;
  border: 1px solid #2e8de5;
  border-top: none;
  border-radius: 0px;
  overflow: hidden;
  overflow-y: auto;
  margin-left: -1px;
}
.subpage > div > .view .info > .summary .option ul > li {
  display: block;
	width: 100%;
  height: 43px;
  color: #000;
  line-height: 18px;
  letter-spacing: -0.87px;
  border-top: 1px solid #ececec;
	margin-bottom: 1px;
}
.subpage > div > .view .info > .summary .option ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 43px;
  padding-left: 14px;
  font-size: 14px;
}

.subpage > div > .view .info > .summary .option ul > li > a:hover {
  color: #2e8de5;
  background: #f8fbff;
}

.subpage > div > .view .info > .summary .items {
  width: 100%;
}

.subpage > div > .view .info > .summary .items > ul > li {
  width: 100%;
  padding: 10px;
  background: #f9f9fa;
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #bec1c7;
  box-sizing: border-box;
}

.subpage > div > .view .info > .summary .items > ul > li > div {
}

.subpage > div > .view .info > .summary .items .title {
  border-bottom: 1px dotted #e2e2e3;
  overflow: hidden;
	height: 30px;
}
.subpage >  div > .view .info > .summary .items .title > p {
  float: left;
  font-size: 14px;
  color: #000;
	font-weight: bold;
	margin-left: 20px;
}

.subpage > div > .view .info > .summary .items button {
  border: none;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
	background-image: url('../img/sp_icon.png');
}

.subpage > div > .view .info > .summary .items .title > button {
  float: right;
  width: 26px;
  height: 26px;
  background-position: -442px -122px;
}

.subpage > div > .view .info > .summary .items .price {
  margin-top: 6px;
  margin-bottom: 6px;
}

.subpage > div > .view .info > .summary .items .price > span {}

.subpage > div > .view .info > .summary .items .price > span > button {
  width: 21px;
  height: 21px;
  vertical-align: top;
}

.subpage > div > .view .info > .summary .items .price > span > .decrease {
  background-position: 0 -74px;
}

.subpage > div > .view .info > .summary .items .price > span > .increase {
  background-position: -48px -74px;
}

.subpage > div > .view .info > .summary .items .price > span > input {
  width: 30px;
  height: 21px;
  border: 1px solid #ececec;
  line-height: 21px;
  color: #233549;
  font-size: 14px;
  text-align: center;
}

.subpage > div > .view .info > .summary .items .price > ins {
  float: right;
  font-size: 16px;
  color: #111;
  text-decoration: none;
  font-family: 'Noto Sans KR', dotum, sans-serif;
}

.subpage > div > .view .info > .summary .items .price > ins::after {
  
}

.subpage > div > .view .info > .summary .total {
  overflow: hidden;
  margin-top: 16px;
}

.subpage > div > .view .info > .summary .total > em {
  float: right;
  display: block;
  width: 100px;
  height: 22px;
  padding: 10px 0 0;
  font-size: 16px;
  line-height: 22px;
  color: #5e636d;
  letter-spacing: -1px;
}

.subpage > div > .view .info > .summary .total > span {
  float: right;
  display: inline-block;
  line-height: 38px;
  font-size: 24px;
  color: #5e636d;
  text-align: right;
  letter-spacing: -0.5px;
}

.subpage > div > .view .info > .summary .btns {
  overflow: hidden;
  margin-top: 16px;
	margin-left: 17px;
}

.subpage > div > .view .info > .summary .btns > button {
  float: left;
  width: 49%;
  height: 40px;
  margin: 2px;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
}
.subpage > div > .view .info > .summary .btns > .cart {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #233549;
	cursor: pointer;
}

.subpage > div > .view .info > .summary  .btns > .order {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #233549;
	cursor: pointer;
}


.subpage > div > .view > section > .desc > img:first-child {
	margin-top: 80px;
	border-top: solid 1px #d9d9d9;
}

.subpage > div > .view > section > .review * {
	font: 'monospace';
}

.subpage > div > .view > section > .review > ul {
	padding: 10px;
	box-sizing: border-box;
}

.subpage > div > .view > section > .review > ul > li {
	padding-top: 10px;
	border-bottom: 1px solid #ececec;
	border-top: 1px solid #ececec;
	box-sizing: border-box;
}

.subpage > div > .view > section > .review > ul > li > div {
	overflow: hidden;
}

.subpage > div > .view > section > .review > ul > li > div > h5 {
	float: left;
}

.subpage > div > .view > section > .review > ul > li > div > span {
	float: right;
	color: #555;
}

.subpage > div > .view > section > .review > ul > li > p{
	width: 100%;
  height: 30px;
	margin-bottom: 16px;
	margin-left: 20px;
  color: #555;
  line-height: 19px;
  word-break: break-all;
  word-wrap: break-word;
}

/* cart.html */

.subpage {
	width: 100%;
	height: auto;
}

.subpage > .cartdiv {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.subpage > div > .cart > form > table {
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 6px;
	border-bottom: solid 1px #D5D5D5;
}

.subpage > div > .cart > form > table th {
	padding: 12px 0;
	border-top: 2px solid #000;
	border-bottom: 1px solid #d3d3d3;
	color: #383838;
	font-size: 0.95em;
	text-align: center;
	letter-spacing: -0.1em;
}

.subpage > div > .cart > form > table .empty {
	display: none;
}

.subpage > div > .cart img {
	margin-top: 20px;
	margin-bottom: 8px;
}

.subpage > div > .cart > form > table h2:hover {
	text-decoration: underline;
}

.subpage > div > .cart > form > table .empty td {
	padding: 50px 0 !important;
	text-align: center;
}

.subpage > div > .cart > form > table td {
	text-align: center;
}

.subpage > div > .cart > form > table th:first-child {
	width: 60px;
}

.subpage > div > .cart > form > table td:last-child {
	font-size: 15px;
}

.subpage > div > .cart > form > table td > article {
	overflow: hidden;
}

.subpage > div > .cart > form > input[name=del] {
	border-color: #bdbdbd;
  border-bottom-color: #828282;
  background: #fafafa;
  color: #4d4d4d;
  padding: 6px 11px;
  border-width: 1px;
  margin-top: 6px;
	cursor: pointer;
}

.subpage > div > .order {
	float: right;
	margin-top: 30px;
	width: 360px;
	height: 400px;
	padding: 20px;
	background: #fff;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
}

.subpage > div > .order > table {
	width: 100%;
	border-top: 2px solid #000;
	padding: 40px 0;
	border-spacing: 15px;
}

.subpage > div > .order > table tr:nth-child(5) td {
	font-size: 20px;
}

.subpage > div > .order > input[type=button] {
	width: 100%;
	height: 50px;
	font-size: 20px;
	border-width: 1px;
	border: solid 1px #bdbdbd;
	background: #fafafa;
	font: 'monospace';
  box-sizing: border-box;
  margin-top: 10px;
	cursor: pointer;
}
